.jumbotron {
    background: #0065BD;
    color: white;
    padding-bottom: 80px;
}

.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
    background: #7646c1;
}

.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em;
}

.navbar+.jumbotron {
    margin-top: -20px;
}

.pagenum,
.pagenum a {
    padding: 5px;
    font-size: 12pt;
    color: white;
    margin: 2pt;
    text-decoration: none;
    text-align: center;
}

.pagenum:hover {
    background-color: white;
    color: #0065BD;
    text-decoration: none;
}

.currentpg {
    color: yellow
}

.jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
}

.jumbotron .lang-logo img {
    max-width: 100%;
}

.object-area {
    padding-top: 50px;
    /* width: 70rem;
    max-width: 90%;
    margin: auto; */
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

.logo {
    width: 5rem;
    height: 5rem;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: white;
    display: flex;
    /* align-items: stretch; */
    width: 45%;
    flex-direction: column;
    justify-content: space-between;
    margin: 2.5%;
}

.card__header,
.card__content {
    padding: 0.25rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
    margin: 0;
}

.card__image img,
.card__image_prev img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
}

.card__image_prev img {
    /* width: 100%; */
    overflow: hidden;
    height: 300px;
}

.pkmn img {
    height: 400px;
    object-fit: fill;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.card-list {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: white;
    display: flex;
    /* align-items: stretch; */
    flex-direction: row;
    justify-content: space-between;
}

.card__header-list,
.card__content-list {
    padding: 0.25rem;
}

.card__header-list h1,
.card__content-list h1,
.card__content-list h2,
.card__content-list p {
    margin: 0;
}

.card__image-list {
    max-height: 200px;
    width: 200px;
}

.card__image_prev-list {
    max-width: 200px;
    width: 200px;
    overflow: hidden;
    /* height: 300px; */
}

.list-img {
    width: 200px;
}

.card__actions-list {
    padding: 1rem;
    text-align: left;
}

.card__actions-list button,
.card__actions-list a {
    margin: 0 0.25rem;
}

.no-anchor-list {
    max-height: 200px;
}

.list_desc {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    text-align: left;
    padding-left: 10px;
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 50%;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

.product__overflow {
    height: 65px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
}

.product__overflow::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 12px, white);
}

.productBack {
    /* background-color: #191919; */
    height: 100%;
    padding-bottom: 50px;
}

.null {
    color: #004581 !important;
}

.null:hover {
    background-color: #0065BD;
    color: white;
}